DATABASE_URL=mysql+aiomysql://dice_user:yourpassword@host.docker.internal:3306/dice_applet
SECRET_KEY=generate_with__python3_-c__import_secrets_print_secrets.token_hex_32
TEACHER_PASSWORD_HASH=generate_with__python3_-c__import_bcrypt_print_bcrypt.hashpw_b_yourpassword_bcrypt.gensalt.decode
ALLOWED_ORIGINS=https://www.klaasvogel.nl
LOG_LEVEL=INFO
